name: My First CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run simple commands
        run: |
          echo "Hello from GitHub Actions"
          cat /etc/os-release
          ls -la
          date
